# dependencies
node_modules/
.pnpm-debug.log*
package-lock.json
yarn.lock

# turbo
.turbo/

# build outputs
dist/
build/
.next/
out/

# env
.env
.env.*
!.env.example

# editor / os
.DS_Store
*.tsbuildinfo
*.log
